@model MentalHealthApp.BusinessLogic.Implementation.Appointments.ViewModels.AppointmentModel
<head>
    <link  rel="stylesheet" href="~/css/createAppointments.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
     <script src="~/js/appointment/viewAppoinments.js"></script>
 </head>  
@{
    var start = 20;
    var end = 7;
    var dataList = new List<int>();
}




      <section class="breadcrumb-bar">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-12">
                      <nav class="page-breadcrum" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="@Url.Action("DoctorsProfile","Profile")">Doctori</a></li>
                              <li class="breadcrumb-item"><a asp-action="DoctorInfoById" asp-controller="Profile" asp-route-id="@Model.SpecialistId">Profil Doctor</a></li>
                             <li class="breadcrumb-item active" aria-current="page">Creaza o programare</li>

                              </ol>
                          </nav>
                        </div>
                    </div>
                </div>
            </section>
 <body> 
   
        <div class="row">

        <div class="col offset-md-1">
            <div class="row">
                <div class="col">
                    <h3>Program medic</h3>
                </div>
            </div>
            <table class="table table-bordered table-hover table-striped table-sm" id="appointment_list">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center align-middle">Work Day</th>
                        <th scope="col" class="text-center align-middle">Start</th>
                        <th scope="col" class="text-center align-middle">End</th>
                        <th scope="col" class="text-center align-middle">Notes</th>

                        @foreach (var program in @Model.DoctorWorkProgramVMs)
                        {
                        <tr>
                            <td>@program.WorkDay</td>
                            <td>@program.Start</td>
                            <td>@program.End</td>
                            <td>@program.Notes</td>
                        </tr>
                            var splitData = program.Start.Split(" ");
                            splitData = splitData[0].Split(":");
                            if (int.Parse(splitData[0]) <= start)
                            {
                                start = int.Parse(splitData[0]);
                            }
                            var splitData2 = program.End.Split(" ");
                            splitData2 = splitData2[0].Split(":");
                            if (int.Parse(splitData2[0]) >= end)
                            {
                                end = int.Parse(splitData2[0]);
                            }
                        }
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

            <div class="col offset-md-1">
                <h1>Data si ora</h1>
                <form asp-action="CreateAppointment" asp-controller="Programari">
                        <div class="col form-group">
                            <label asp-for="AppointmentDate" class="required">Data</label>
                            <input asp-for="AppointmentDate" class="form-control date-input" type="date" id="date" data-trigger="hover" data-toggle="popover" data-content="You can select any date from today clicking on the number in the calendar" required asp-format="{0:yyyy-MM-dd}">
                           <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                        </div>


                     <div class="scheduler-boxes">
                    <div class="scheduler-boxes scheduler-boxes-buttons">
                        <label asp-for="AppointmentHour" class="required">Ora</label>
                        <input asp-for="AppointmentHour" type="hidden" id="appointment-hour" />
                    </div>
                    @foreach (var programare in @Model.AcceptedAppointmentsData)
                    {
                        var ora = programare.AppointmentDate.Split(" ");
                        ora = ora[1].Split(":");
                       // dataList.Add(int.Parse(ora[0]));
                    }
                    <div class="div-butoane" style="display:flex;">
                        @for(int h = start; h <= end; h++){
                            
                           // if (dataList.Contains(h)){
                            //    continue;
                            //}
                            //else{
                                <div  class="scheduler-boxes-buttons">
                                    <button class="scheduler-button" type="button" onclick="setAppointmentHour(@h)" id="bt-@h">
                                        <div class="scheduler-hour">
                                            @( h < 10 ? $"0{h}:00" : $"{h}:00")
                                        </div>
                                    </button>
                                </div>

                           // }

                        }
                            <!-- The available appointment hours buttons will be dynamically added here -->
                    </div>
                        <p style="color: red"> Data si ora pot fi modificate de catre specialist. Vei primi o notificare cand apare o modificare.</p>
                        
                        <h2>Tipul sedintei:</h2>

                        <div class="col form-group">
                    <label asp-for="AppointmentType" class="required">Tip sedinta (Fizic/Online)</label>
                    <div class="form-check">
                        <input asp-for="AppointmentType" class="form-check-input" type="radio" name="AppointmentType" value="Fizic" id="appointment-type-fizic" checked>
                        <label class="form-check-label" for="appointment-type-fizic">
                            Fizic
                        </label>
                    </div>
                    <div class="form-check">
                        <input asp-for="AppointmentType" class="form-check-input" type="radio" name="AppointmentType" value="Online" id="appointment-type-online">
                        <label class="form-check-label" for="appointment-type-online">
                            Online
                        </label>
                    </div>
                    <span asp-validation-for="AppointmentType" class="text-danger"></span>
                    </div>
                      <div class="col form-group" hidden="hidden">
                            <label asp-for="SpecialistId" class="control-label">Specialist</label>
                            <input asp-for="SpecialistId" class="form-control" type="text" id="description" value="@Model.SpecialistId"/>
                           <span asp-validation-for="SpecialistId" class="text-danger"></span>
                        </div>
                        <div>
                            <h2> Detalii pret si durata sedinta: </h2>
                            <div>
                                <p>Taxa Servicii:  @Model.Price </p>
                                <p>Durata consultatie:  @Model.AppointmentTime</p>
                            </div>
                        </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <button type="submit" value="Save" class="btn btn-primary" id="submit">Make Appointment</button>
                        </div>
                        <p>Rezervarea ta va fi confirmata numai dupa ce specialistul iti va accepta cererea 
                            (poate dura pana la 24 de ore).</p>
                    </div>
                </form>
            </div>

    </div>
            <div class="col offset-md-1">
                <div class="row">
                    <div class="col">
                        <h3>Programarile tale</h3>
                    </div>
                </div>
                <table class="table table-bordered table-hover table-striped table-sm" id="appointment_list">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center align-middle">Id Appointment</th>
                            <th scope="col" class="text-center align-middle">Data si Ora</th>
                            <th scope="col" class="text-center align-middle">Medic</th>
                            <th scope="col" class="text-center align-middle">Tip sedinta</th>
                            <th scope="col" class="text-center align-middle">Status</th>

              @foreach(var programare in @Model.AppointmentsVMs)
                {
                    <tr >
                        <td>@programare.Id</td>
                        <td>@programare.AppointmentDate</td>
                        <td>@programare.Doctor</td>
                        <td>@programare.AppointmentType</td>
                        <td>@programare.AppointmentStatus</td>
                    </tr>
                }
            </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        
 
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  
</body>

<script>
function PreviousPage() {
    const email = window.localStorage.getItem("medic: ");
     $.ajax({
        url: "/Profile/DoctorInfo",
        type: "GET",
         data: {email : email},
        dataType: "html",
    });
}

    function setAppointmentHour(hour) {
        if(hour < 10){
            document.getElementById("appointment-hour").value = "0" + hour + ":00";
        }
        else{
            document.getElementById("appointment-hour").value = hour + ":00";
        }

        var buttons = document.getElementsByClassName("scheduler-button");
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].style.background = "radial - gradient(ellipse at bottom, #8dcdf9 0 %, #322835 100 %)";
        } 
        var button = document.getElementById("bt-" + hour);
        button.style.background = "grey";
        }

    function AddDateButton() {
        var selectedDate = document.getElementById("date").value;
        var cards = document.getElementsByClassName("scheduler-boxes-buttons");
        const doctorId = '@Model.SpecialistId';
        $.ajax({
               url: '/Profile/GetFilteredAppointments',
               method: 'GET',
               data: { doctorId:doctorId, selectedDate: selectedDate },
            success: function (data) {
                let listaOre = data.map(function (appointment) {
                    return appointment.split(' ')[1].split(':')[0];
                });
                for (var i = 1; i <= cards.length; i++) {
                    var ora = cards[i].querySelector(".scheduler-hour").innerText;
                    ora = ora.split(":")[0];
                    if (listaOre.includes(ora)) {
                        cards[i].style.display = "none";
                    } else {
                        cards[i].style.display = "block";
                    }
                }
            },
            error: function () {
                console.log('Error occurred while retrieving filtered appointments data.');
            }
        });
      
    }
    document.getElementById("date").addEventListener("input", function () {
        AddDateButton();
    });

//////////////////////
    //$(document).ready(function () {
    //    $('#date').change(function () {
    //        $('#appointment-hours-container').empty();

    //        var selectedDate = $(this).val();
    //        const doctorId = @Model.SpecialistId.ToString();
    //        $.ajax({
    //            url: '/Profile/GetFilteredAppointments',
    //            method: 'GET',
    //            data: { doctorId:doctorId, selectedDate: selectedDate },
    //            success: function (data) {
    //                var occupiedHours = data.map(function (appointment) {
    //                    return parseInt(appointment.AppointmentDate.split(' ')[1].split(':')[0]);
    //                });

    //                var start = 9; 
    //                var end = 18; 

    //                for (var h = start; h <= end; h++) {
    //                    if (!occupiedHours.includes(h)) {
    //                        var button = $('<button>').addClass('scheduler-button').attr('type', 'button').attr('id', 'bt-' + h).click(function () {
    //                            setAppointmentHour(h);
    //                        });

    //                        var div = $('<div>').addClass('scheduler-hour').text(h < 10 ? '0' + h + ':00' : h + ':00');

    //                        button.append(div);
    //                        $('#appointment-hours-container').append(button);
    //                    }
    //                }
    //            },
    //            error: function () {
    //                console.log('Error occurred while retrieving filtered appointments data.');
    //            }
    //        });
    //    });
    //});

</script>

<style>
    .scheduler-hour {
        color: #fff;
        text-shadow: 0px 0px 2px #fff;
    }
</style>